
<p> Welcome to the Marathi learning app! Here, you can find lessons, quizzes, and resources to help you get started with learning Marathi.  </p>
<ul>
<li><b><a href="/lessons">Lessons</a></b>:  This section provides a structured approach to learning Marathi, with lessons organized into different levels. </li>
<li><b><a href="/quiz">Quiz</a></b>: Test your knowledge and track your progress with our interactive quizzes.</li>
<li><b><a href="/resources">Resources</a></b>:  Explore additional resources to support your learning, such as dictionaries, grammar references, and online communities.</li>
</ul>


